<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzp.second.mapper.UserMapper">
    <resultMap id="busEmployeeMap" type="com.zzp.common.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="status" column="status"/>
    </resultMap>
</mapper>